.content {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center; }

.booklist {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding: 35px 100px;
  width: 85%;
  background-color: var(--blue-gray);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  height: 75%;
  overflow: auto;
  border-radius: 3px; }
  .booklist .top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%; }
    .booklist .top .imgBx {
      width: 500px;
      height: 500px;
      display: flex;
      justify-content: center;
      overflow: hidden; }
      .booklist .top .imgBx img {
        min-width: 66%;
        max-width: 100%;
        object-fit: contain; }
    .booklist .top .bookinform {
      float: right;
      top: 10%;
      right: 30%;
      display: flex;
      flex-direction: column;
      color: #000;
      max-width: 400px; }
      .booklist .top .bookinform .bookinform__item {
        padding: 25px 0; }
      .booklist .top .bookinform h1.bookinform__item {
        font-size: 40px; }
      .booklist .top .bookinform .pricetag {
        padding: 20px 22px;
        font-size: 40px;
        font-weight: bold;
        background: var(--gray);
        color: var(--black); }
        .booklist .top .bookinform .pricetag span {
          font-size: 35px;
          color: #3B82F6; }
      .booklist .top .bookinform .author {
        display: flex;
        justify-content: center;
        flex-direction: column;
        font-size: 20px; }
        .booklist .top .bookinform .author span {
          font-weight: bold; }
          .booklist .top .bookinform .author span a {
            font-weight: 300;
            margin-left: 5px;
            color: #3B82F6; }
      .booklist .top .bookinform .btnBox {
        display: flex; }
        .booklist .top .bookinform .btnBox button {
          margin-right: 8px; }
  .booklist .description {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    font-size: 20px;
    color: #000; }
    .booklist .description span {
      font-weight: bold;
      margin-bottom: 10px; }
    .booklist .description p {
      line-height: 30px;
      display: block;
      text-align: left;
      font-weight: 300; }
