extends ./layouts/main.pug
block cssLink
  link(rel="stylesheet", href="/css/createProduct.css")
block content
  .container
    .box-content
      h1.h1.title Add product
      form.ui.form(method="POST", action="/create/product", enctype="multipart/form-data")
        .field
          label Name
          input#input-name-product(type='text', name='name', placeholder='Name', value=value ? value.name : '')
        .field
          label Price
          input#input-price-product(type='Number', name='price', placeholder='Price', min="1000", max="1000000000", step="100", value=value ? value.price : '')
        .field
          label Description
          textarea(name='description', value=value ? value.description : '')
        .field
          label(for="input-thumbnail-product") Thumbnail
          input#input-thumbnail-product(type="file", name="thumbnail", accept=".jpg, .png, jpeg, .webp")
        button.ui.button(type='submit') Submit
      if errors
        .errors.mt-3
          each error in errors
            .alert.alert-danger(role='alert')= error